nav {
  background: #202225;
  float: left;
  left: 0;
  height: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: fixed;
  border-radius: 50px;
  margin: 10px;
  transition: 250ms;
  opacity: 75%;
}

nav:hover {
  transition: 250ms;
  opacity: 100%;
}

nav a {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #36393f;
  margin: 0;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  position: relative;
  transition: 250ms;
}

nav hr {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 196px;
  border: none;
  background: #36393f;
}

nav a:hover,
nav a.active {
  border-radius: 25%;
  background: #9ea53b;
}

nav a:hover {
  transition: 250ms;
  background: #9ea53b;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.tooltip .tooltiptext {
  transition: 250ms;
  opacity: 0%;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  transition: 250ms;
  opacity: 100%;
}

.icon {
  top: 12px;
  left: 12px;
  position: absolute;
}

@media only screen and (max-width: 1000px){
  .tooltiptext{
    display: none;
  }
}
